@{
    ViewData["Title"] = "Tammi's Portfolio";
}

<div>
    @(await Html.RenderComponentAsync<tamDevMvc.Views.Shared.Component.Component>
        (RenderMode.ServerPrerendered, new {  Data = " Hello World " })
    )
</div>