@{
    ViewData["Title"] = "Tammi's Portfolio";
}

<div>
    @(await Html.RenderComponentAsync<tamDevMvc.Views.Shared.Component.BasicTextComponent>
        (RenderMode.ServerPrerendered)
    )

    @(await Html.RenderComponentAsync<tamDevMvc.Views.Shared.Component.WorkExperienceComponent>
        (RenderMode.ServerPrerendered)
    )

    @(await Html.RenderComponentAsync<tamDevMvc.Views.Shared.Component.OtherInfoComponent>
        (RenderMode.ServerPrerendered)
    )

    @(await Html.RenderComponentAsync<tamDevMvc.Views.Shared.Component.FindMeComponent>
        (RenderMode.ServerPrerendered)
    )
</div>