@using Microsoft.AspNetCore.Components
@using BlazorBootstrap

<div>
    <h3><Icon Name="IconName.EmojiSmile" /> Hi, I'm Tammi!</h3>
    <p>
        I'm a full stack software engineer with 3 years of experience in the education and legal spaces.
        <br />
        I graduated from the <a href="https://peabody.jhu.edu/">Peabody Institute of the Johns Hopkins University</a> with a Bachelor of Music in Vocal Performance aka opera!
        <br />
        I then transitioned to tech in 2019 via <a href="https://codingdojo.com">Coding Dojo</a>, a 14-week web development bootcamp.
    </p>

    <div style="margin-top:80px">
        <h4><Icon Name="IconName.PersonVCard" /> Work Experience</h4>
        <Tabs>
            <Tab Title="Amplify Consulting Partners" IsActive="true">
                <Content>
                    <Card>
                        <CardBody>
                            <CardTitle>Full Stack Software Engineer</CardTitle>
                            <CardSubTitle Class="mb-2 text-muted">Jan 2020 to Oct 2021</CardSubTitle>
                            <CardText>
                                A tech consulting firm located in Bellevue, WA where I worked on a cross-functional team to build
                                a robust web application for Colorado Community College System as they were tired of using 5 separate apps
                                to track all of their data.
                            </CardText>
                            <ul>
                                <li>
                                    Developed API endpoints, services, and mappers to communicate with the frontend using C#, Entity Framework Core, LINQ, SQL Server
                                </li>
                                <li>
                                    Created and maintained integration and unit tests using xUnit
                                </li>
                                <li>
                                    Managed and debugged CI/CD pipelines on Azure
                                </li>
                                <li>
                                    Updated deployment scripts to apply custom parameters
                                </li>
                                <li>
                                    Maintained SQL stored procedures and debugged data issues
                                </li>
                                <li>
                                    Created and maintained React components and services using TypeScript and Redux
                                </li>
                                <li>
                                    Worked closely with client team for User Acceptance Testing and communicated requirements and timelines
                                </li>
                                <li>
                                    Began as an intern in Jan 2020 till May 2020
                                </li>
                            </ul>
                            @*<CardLink To="#">Card link</CardLink>*@
                        </CardBody>
                    </Card>
                </Content>
            </Tab>
            <Tab Title="Advocat AI" IsActive="true">
                <Content>
                    <Card>
                        <CardBody>
                            <CardTitle>Full Stack Software Engineer</CardTitle>
                            <CardSubTitle Class="mb-2 text-muted">Oct 2021 to Nov 2022</CardSubTitle>
                            <CardText>
                                A legaltech startup located in Bellevue, WA.
                            </CardText>
                        </CardBody>
                    </Card>
                </Content>
            </Tab>
        </Tabs>
    </div>

    <h4 style="margin-top:80px"><Icon Name="IconName.Search" /> Find Me</h4>
    <div>
        <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="https://www.linkedin.com/in/tammileesea" Size="Size.Small">
            <Icon Name="IconName.Linkedin" />
            LinkedIn
        </Button>
        <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="https://www.github.com/tammileesea" Size="Size.Small">
            <Icon Name="IconName.Github" />
            GitHub
        </Button>
    </div>

    <div>
        @Data
    </div>
</div>

@code {
    [Parameter]
    public string Data { get; set; } = string.Empty;
}   