@{
    ViewData["Title"] = "Tammi Lee- About";
}

<div>
    @(await Html.RenderComponentAsync<tamDevMvc.Views.Shared.Component.AboutComponent>
        (RenderMode.ServerPrerendered, new {  Data = " Hello it me! " })
    )
</div>