@{
    ViewData["Title"] = "Tammi Lee- Projects";
}

<div>
    @(await Html.RenderComponentAsync<tamDevMvc.Views.Shared.Component.ProjectsComponent>
        (RenderMode.ServerPrerendered, new {  Data = " Check out my projects! " })
    )
</div>