@{
    ViewData["Title"] = "Tammi Lee- Blog";
}

<div>
    @(await Html.RenderComponentAsync<tamDevMvc.Views.Shared.Component.BlogComponent>
        (RenderMode.ServerPrerendered, new {  Data = " Dis is a blog! " })
    )
</div>