@{
    ViewData["Title"] = "Tammi Lee- New Blog Posty";
}

<div>
    @(await Html.RenderComponentAsync<tamDevMvc.Views.Shared.Component.PostComponent>
        (RenderMode.ServerPrerendered, new {  Data = " Creating new blog posties!!!! " })
    )
</div>